<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">

<head>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practyl Panel | Cuenta</title>
</head>

<body style="background-color: rgb(26, 26, 26);">

    <%- include("../parts/header.ejs") %>

        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"
                    style="border-radius: 10px; height: 85vh; margin-left: 15px; width: 30vh;">
                    <%- include("../parts/sidebar.ejs") %>
                </div>
                <div class="col py-3">
                    <div
                        style="margin-top: -16px;padding: 5px; border-radius: 10px; background-color: rgb(33,37,41); height: 85vh;">
                        <center>
                            <h1>Cuenta.</h1>
                        </center>
                        <div style="margin-left: 30px; margin-right: 30px; display: flex; height: 77vh;">
                            <div style="flex: 1; display: flex; flex-direction: column;">
                                <h2 style="margin-bottom: 50px;">Informacion</h2>
                                <h3><b>Usuario:</b>
                                    <%= req.session.user.username %>
                                </h3>
                                <div style="background-color: rgb(22, 22, 22); height: 2px; margin-top: 20px; margin-bottom: 20px;"></div>
                                <h3><b>Email:</b>
                                    <%= req.session.user.email %>
                                </h3>
                                <div style="background-color: rgb(22, 22, 22); height: 2px; margin-top: 20px; margin-bottom: 20px;"></div>
                                <h3><b>Coins:</b>
                                    <%= req.session.user.coins %> <svg width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z"></path>
                                        <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4"></path>
                                        <path d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z"></path>
                                        <path d="M3 6v10c0 .888 .772 1.45 2 2"></path>
                                        <path d="M3 11c0 .888 .772 1.45 2 2"></path>
                                     </svg>
                                </h3>
                                <div style="background-color: rgb(22, 22, 22); height: 2px; margin-top: 20px; margin-bottom: 20px;"></div>
                                <h3><b>Recursos disponibles:</b></h3>
                                    <h4>
                                        <div style="margin-left: 15px;">
                                            <div style="display: flex">
                                                <svg width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"></path>
                                                    <path d="M3 12m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v2a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"></path>
                                                    <path d="M7 8l0 .01"></path>
                                                    <path d="M7 16l0 .01"></path>
                                                    <path d="M11 8h6"></path>
                                                    <path d="M11 16h6"></path>
                                                 </svg>
                                                 <span><b>Servers:</b> <%= (req.session.user.limits.server) - (req.session.user.used.server) %>/<%= req.session.user.limits.server %></span>  
                                            </div>
                                            <div style="display: flex">
                                                <svg width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M5 5m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z"></path>
                                                    <path d="M9 9h6v6h-6z"></path>
                                                    <path d="M3 10h2"></path>
                                                    <path d="M3 14h2"></path>
                                                    <path d="M10 3v2"></path>
                                                    <path d="M14 3v2"></path>
                                                    <path d="M21 10h-2"></path>
                                                    <path d="M21 14h-2"></path>
                                                    <path d="M14 21v-2"></path>
                                                    <path d="M10 21v-2"></path>
                                                 </svg>
                                                 <span><b>CPU:</b> <%= (req.session.user.limits.cpu) - (req.session.user.used.cpu) %>%/<%= req.session.user.limits.cpu %>%</span>  
                                            </div>
                                            <div style="display: flex">
                                                <svg width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M3 12l3 3l3 -3l-3 -3z"></path>
                                                    <path d="M15 12l3 3l3 -3l-3 -3z"></path>
                                                    <path d="M9 6l3 3l3 -3l-3 -3z"></path>
                                                    <path d="M9 18l3 3l3 -3l-3 -3z"></path>
                                                 </svg>
                                                 <span><b>RAM:</b> <%= (req.session.user.limits.ram) - (req.session.user.used.ram) %>MB/<%= req.session.user.limits.ram %>MB</span>  
                                            </div>
                                            <div style="display: flex">
                                                <svg width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                                                    <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                                    <path d="M14 4l0 4l-6 0l0 -4"></path>
                                                 </svg>
                                                 <span><b>DISCO:</b> <%= (req.session.user.limits.disk) - (req.session.user.used.disk) %>MB/<%= req.session.user.limits.disk %>MB</span>  
                                            </div>
                                        </div>
                                    </h4>
                            </div>
                            <div style="background-color: rgb(22, 22, 22); width: 2px; margin: 40px"></div>
                            <div style="flex: 1; display: flex; flex-direction: column;">
                                <h2 style="margin-bottom: 50px;">Configuracion</h2>
                                <div>
                                    <h3>Client key</h3>
                                    <div style="display: flex">
                                        <% if(!req.session.user.key) { %>
                                            <input id="updatedKey" style="border: 0px; border-radius: 10px; padding: 5px; width: 100%;"
                                            type="text"
                                            placeholder="Ejemplo: ptlc_JVF3KmJy285pmtEMmp0h1qZ3EEvGZx9vjm8E9InSPDK">
                                        <% } else { %>
                                            <input id="updatedKey" style="border: 0px; border-radius: 10px; padding: 5px; width: 100%;"
                                            type="text"
                                            value="<%= req.session.user.key %>">
                                        <% } %>
                                        <button id="updateKey"
                                            style="border-width: 0; border-radius: 20px; background-color: green; color: #fff; margin-left: 5px; width: 8%; padding: 5px">
                                            <svg width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                                                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                                <path d="M14 4l0 4l-6 0l0 -4"></path>
                                             </svg>
                                        </button>
                                    </div>
                                    <a href="/pdf/create-client-key.pdf"><h5>¿Como creo una client key?</h5></a>
                                </div>
                                <div style="background-color: rgb(22, 22, 22); height: 2px; margin-top: 20px; margin-bottom: 20px;"></div>
                                <div style="display: flex">
                                    <button id="resetPwd"
                                            style="border-width: 0; border-radius: 20px; background-color: green; color: #fff; margin-left: 5px; width: 100%; padding: 5px; display: flex; justify-content: center; align-items: center;">
                                            <svg width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                                                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                                                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                                             </svg>
                                             <h3>Restablecer contraseña del panel.</h3>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>

    <script src="/js/account.js"></script>

</html>